# Renew certificate
# Chose an unusual time to avoid flooding the letsencrypt server :)
#0 36 2 * * * * letsencrypt renew >/dev/null 2>&1
14 38 * * * date > /var/www/html/.well_known/status && certbot renew >> /var/www/html/.well_known/status 
